.govspeak-place {
  border-bottom: solid 1px govuk-colour("mid-grey");
  margin: 1.5em 0;
  padding-bottom: 1.5em;

  .govspeak-address {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
  }

  @include govuk-media-query($until: tablet) {
    margin: 0.75em 0;
  }
}
