.govspeak-warning-callout {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' fill='%230B0C0C'/%3E%3Cpath fill='%23FFF' d='M19 26h-3v-3h3v3Zm0-7h-3V9h3v10Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 0 4.5px;
  min-height: 2.5em;
  padding: govuk-spacing(2) 0 govuk-spacing(2) 45px;

  p {
    @include govuk-font($size: 19, $weight: bold);
  }
}
